[mysqld]
bind-address=0.0.0.0
server_id=101
log_bin=binlog
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name="15b2a51e-bd39-11ee-9f0b-1b2b3c4d5e6f"
loose-group_replication_start_on_boot=OFF
loose-group_replication_local_address="db1:33061"
loose-group_replication_group_seeds="db1:33061,db2:33061,db3:33061"
loose-group_replication_single_primary_mode=ON
loose-group_replication_enforce_update_everywhere_checks=OFF
skip_name_resolve=ON